/* ###################################### */
/* ###########      BODY     ############ */
/* ###################################### */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    overflow: hidden;
  }

/* ###################################### */
/* #########  GAME INFO PANEL  ########## */
/* ###################################### */
#gameinfopanel{
    display:inline-block;
    width:100%;
    border:4px solid black;
    padding:7px;
}
#Score {
    display:inline-block;
    text-align:center;
    font-size:25px;
    width:33%;
    
}
#lives {
    display:inline-block;
    text-align:center;
    font-size:25px;
    width:33%;
}
#Timer {
    display:inline-block;
    text-align:center;
    font-size:25px;
    width:33%;
}

/* ###################################### */
/* ###########  GAME CANVAS  ############ */
/* ###################################### */
#gamecanvas {
    background-color:lightgray;
    background: url('./Images/Bgs/Stars1.png');
    animation: animatedBackground 5s infinite linear;
    background-repeat: repeat-y;
        
    }

 @keyframes animatedBackground {
    from {
      background-position: 0 100%;
     
    }
    to {
      background-position: 0 -50%;
      
    }
  } 
  /*
  KATELIKSA MANUALLY STO -50%; gia na fenete smooth sto firefox me to sugkekrimeno load, elpizw na paizei etsi kai allou giati de vriskw me tipota na to kanw na treksei smoothly auto to pramma
  */
  
 
  
  